/*body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main
{
	min-height: 400px;
    min-width: 400px;
    background: #fff;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -20px rgb(211,211,211);
    width: 70%; 
    position: sticky;
}*/

/*.row:after
{
	content: "";
	display: table;
	clear: both;
}*/

/*.row
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.column2
{
	width: 50%;
	text-align: center;
}

.vl
{
	border-left: 1px solid grey;
}*/

ul
{
	list-style: none;
}

.facebook
{
	display: flex;
	height: 46px;
	align-items: center;
	padding: 0 20px;
	border: 1px solid rgba(238,238,238,1);
	border-radius: 5px;
	background: rgba(59,89,153,1);
	color: #fff;
	font-size: 0.9em;
	/*box-shadow: 5px 10px 20px -20px rgba(59,89,153,1);*/
}

.facebook li
{
	cursor: pointer;
}

.facebook-brand
{
	font-size: 1.5em;
}

.facebook li i {
	padding-right: 10px;
}

.facebook-search
{
	margin-right: auto;
	margin-left: 20px;
	cursor: text;
}

.facebook li > form input
{
	margin-right: 20px;
	border-radius: 5px;
	width: 200px;
}

.facebook li:not(:last-child):not(:first-child):not(.facebook-search) {
  margin-right: 20px;
}
/*
.column
{
	cursor: pointer;
}

.column i 
{
	margin-right: 10px;
}*/